.fundoLogin {
    background-image: url("https://thumbs.dreamstime.com/z/mulher-m%C3%A3e-super-hero%C3%ADna-parando-com-sacolas-de-laptop-para-beb%C3%AAs-e-ferramentas-alimenta%C3%A7%C3%A3o-sorridente-parada-sacos-em-m%C3%A3os-205149120.jpg?w=768");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}